In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./000009.SZ_data.csv", index_col=0)
df.head()

,code,date,times,open_price,high_price,low_price,close_price,vwap,money,volume,code_index
0,000009.SZ,20220902,93000000,14.60,14.60,14.60,14.60,14.600000,49669200000,340200,0
1,000009.SZ,20220902,93300000,14.60,14.60,14.58,14.58,14.591919,46460670000,318400,0
2,000009.SZ,20220902,93400000,14.58,14.58,14.56,14.56,14.569582,28570950000,196100,0
3,000009.SZ,20220902,93500000,14.57,14.57,14.50,14.51,14.524857,34423910000,237000,0
4,000009.SZ,20220902,93800000,14.56,14.56,14.48,14.48,14.522299,39602310000,272700,0

In [3]:
num_rows = len(df)

eval_len = num_rows // 8


train = df.iloc[:num_rows - eval_len, :]
eval = df.iloc[num_rows - eval_len:, :]

In [4]:
print(train.head())
print(eval.head())

eval = eval.reset_index(drop=True)
print(eval.head())

        code      date     times  open_price  high_price  low_price  \
0  000009.SZ  20220902  93000000       14.60       14.60      14.60
1  000009.SZ  20220902  93300000       14.60       14.60      14.58
2  000009.SZ  20220902  93400000       14.58       14.58      14.56
3  000009.SZ  20220902  93500000       14.57       14.57      14.50
4  000009.SZ  20220902  93800000       14.56       14.56      14.48

   close_price       vwap        money  volume  code_index
0        14.60  14.600000  49669200000  340200           0
1        14.58  14.591919  46460670000  318400           0
2        14.56  14.569582  28570950000  196100           0
3        14.51  14.524857  34423910000  237000           0
4        14.48  14.522299  39602310000  272700           0
               code      date      times  open_price  high_price  low_price  \
25543687  000009.SZ  20230721  145500000       11.39       11.40      11.38
25648905  000009.SZ  20230721   93000000       11.40       11.40      11.40
25648906  000009.SZ  20230721   93600000       11.40       11.41      11.39
25648907  000009.SZ  20230721   94000000       11.36       11.39      11.35
25648908  000009.SZ  20230721   94200000       11.37       11.39      11.36

          close_price       vwap       money  volume  code_index
25543687        11.39  11.392294  2483520000   21800           0
25648905        11.40  11.400000  1607400000   14100           0
25648906        11.39  11.397175  8228760000   72200           0
25648907        11.37  11.367892  7548280000   66400           0
25648908        11.39  11.374960  8622220000   75800           0
        code      date      times  open_price  high_price  low_price  \
0  000009.SZ  20230721  145500000       11.39       11.40      11.38
1  000009.SZ  20230721   93000000       11.40       11.40      11.40
2  000009.SZ  20230721   93600000       11.40       11.41      11.39
3  000009.SZ  20230721   94000000       11.36       11.39      11.35
4  000009.SZ  20230721   94200000       11.37       11.39      11.36

   close_price       vwap       money  volume  code_index
0        11.39  11.392294  2483520000   21800           0
1        11.40  11.400000  1607400000   14100           0
2        11.39  11.397175  8228760000   72200           0
3        11.37  11.367892  7548280000   66400           0
4        11.39  11.374960  8622220000   75800           0

In [5]:
print(eval.head())

        code      date      times  open_price  high_price  low_price  \
0  000009.SZ  20230721  145500000       11.39       11.40      11.38
1  000009.SZ  20230721   93000000       11.40       11.40      11.40
2  000009.SZ  20230721   93600000       11.40       11.41      11.39
3  000009.SZ  20230721   94000000       11.36       11.39      11.35
4  000009.SZ  20230721   94200000       11.37       11.39      11.36

   close_price       vwap       money  volume  code_index
0        11.39  11.392294  2483520000   21800           0
1        11.40  11.400000  1607400000   14100           0
2        11.39  11.397175  8228760000   72200           0
3        11.37  11.367892  7548280000   66400           0
4        11.39  11.374960  8622220000   75800           0

In [6]:
train = train.dropna()
eval = eval.dropna()

train = train.reset_index(drop=True)
eval = eval.reset_index(drop=True)

In [7]:
train.to_csv("./train.csv")
eval.to_csv("./eval.csv")